.buttonCar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 48px;
  border: none;
  background: #5cb85f;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-top: 24px;
}
