.foot {
    position: absolute;
    top: 1500px;
}

.tex {
    list-style-type: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}